@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Big Noodles';
  src: url('../fonts/big_noodle_titling.ttf');
}

$color-red: rgb(255, 20, 20);

body {
  background-color: #191919;
  color: white;
}
a{
	text-transform: none;
	color: red;
	text-decoration : none;
}

p {
  color: white;
  font-family: 'Big Noodles';
}


.cardEachGame {
  background-color: #191919;
}

.informationsRow{
	display: flex;
	flex-wrap:wrap;
}

.informationsRow>div{

	padding-top: 2em;
    flex: 0 0 33.3333333333%;
	max-width: 33%;
}

.rating{
	color:red;
	text-align: right;
}

.buttonWebsite{
	background-color:red;
	padding: 5px;
	color:white;
}

.buttonWebsite a{
	color:white;
}